<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<form action="/">
    <label for="fileName">FileName:
        <input id="fileName" type="text" name="fileName" th:value="${filter.fileName}">
    </label>
    <label for="contentType">ContentType:
        <input id="contentType" type="text" name="contentType" th:value="${filter.contentType}">
    </label>
    <div>
        <label for="page">Page:
            <input id="page" type="number" name="page" th:value="${photos.metadata.page}">
        </label>
        <label for="size">Size:
            <input id="size" type="number" name="size" th:value="${photos.metadata.size}">
        </label>
    </div>
    <button type="submit">Filter</button>
</form>
<div th:each="photo : ${photos.content}">
    <a th:href="@{'/v1/api/download/' + ${photo.id}}" th:text="|${photo.id}. ${photo.fileName}. ${photo.contentType}|">Photo</a>
</div>




<form action="/upload">
    <button type="submit">Upload</button>
</form>
</body>
</html>